<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="dao.userdao">
    <select id="getuserlist" resultType="user">
    select * from  mybatis01.users
    </select>
    <select id="getuserbyid" parameterType="int" resultType="user">
    select *from mybatis01.users where id=#{id}
    </select>
    <insert id="adduser" parameterType="user">
        insert into mybatis01.users(id, name, pwd) values (#{id},#{name},#{pwd});
    </insert>
    <update id="update" parameterType="user">
        update mybatis01.users set name=#{name},pwd=#{pwd} where id=#{id};
    </update>
  <delete id="delete" parameterType="int" >
      delete from mybatis01.users where id=#{id};
  </delete>

    <insert id="adduser2" parameterType="map">
        insert into mybatis01.users(id, name, pwd) values (#{id},#{name},#{pwd});
    </insert>

    <select id="getuserbyid2" parameterType="map" resultType="pojo.user" >
    select *from mybatis01.users where id=#{id};
    </select>
        <select id="getuserlike"  parameterType="String" resultType="pojo.user">
        select * from mybatis01.users  where name like #{value} ;
    </select>
</mapper>