<component name="libraryTable">
  <library name="mybatis-3.5.6">
    <CLASSES>
      <root url="jar://D:/Broswer donwload/mybatis-3.5.6/mybatis-3.5.6/mybatis-3.5.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/mybatis-3.5.6-sources.jar!/" />
    </SOURCES>
  </library>
</component>